<div class="container">
  <div class="text-center">Les Smoothies</div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <% if cocktail.picture? %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card">
              <div class="card-img text-center"><%= cl_image_tag cocktail.picture.path, width: 220, height: 200, crop: :fill %></div>
              <div class="card-name text-center"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
